<div>
  <div class="user-cabinet">
    <div class="avatar">
      <%= image_tag @user.avatar.url(:medium) %>
    </div>
    <div class="username">
      <h2><%= @user.username %></h2>
      <h3>Статус: <%= @user.position %></h3>
      <h3>Рейтинг: <%= @user.vote %> <%= link_to '+', upvote_user_path(@user) %>|<%= link_to '-', downvote_user_path(@user) %></h3>
    </div>
    <div class="add-product">
      <h2>Добавить продукт:</h2>
      <%= form_for current_user.products.new do |f| %>
        <%= render partial: 'products/form', locals: {f: f} %>
      <% end %>
    </div>
    <div class="products">
      <% current_user.products.each do |product| %>
        <div class="img-product">

        </div>
        <div class="about-product">
          <h2><%= product.name %></h2>
          <p><%= product.description %></p>
        </div>
      <% end %>
    </div>
  </div>
</div>
