<div id="messages" data-chat-id="<%= @chat.id %>">
  <%= render @chat.messages %>
</div>

<%= form_for @message, url: '#' do |f| %>
    <div class="form-group">
      <%= f.label :text %>
      <%= f.text_area :text, class: 'form-control', style: "width: 80%; height: 80px" %>
      <small class="text-muted">From 2 to 1000 characters</small>
    </div>

    <%= f.submit "Post", class: 'btn btn-primary btn-lg' %>
<% end %>