<div id="messages" data-chat-id="<%= @chat.id %>">
  <%= render @chat.messages %>
</div>

<%= form_for @message, url: '#' do |f| %>
    <%= hidden_field_tag 'chat_id', @chat.id %>
    <p>
      <%= f.text_area :text, class: "form-control", style: "width: 80%; height: 80px" %>
    </p>
    <p>
      <%= f.submit 'Send Message', class: "btn btn-danger" %>
    </p>
<% end %>